{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
TFM – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head-tfm.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-panel govuk-panel--confirmation blue-panel">
  <h1 class="govuk-panel__title">
    [Content]
  </h1>
  <div class="govuk-panel__body">
    [Content]
  </div>
</div>

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Tasks',
    href: '#1'
  }, {
    text: 'Deal',
    href: '#2'
  }, {
    text: 'Parties',
    href: '#3'
  }, {
    text: 'Documents',
    href: '#3'
  }, {
    text: 'Activity and Comments',
    href: '#3'
  }, {
    text: 'Underwriting',
    href: '#3'
  }]
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Facility {{ data['facility-1-ukef-id'] }}</span>
    <h1 class="govuk-heading-l">
      Cash facility
    </h1>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#details">
            Details
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#ammendments">
            Ammendments
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#monthly-reports">
            Monthly reports
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="details">
        
        <h2 class="govuk-heading-l">Overview</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Status
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              
              <!-- report is due and this facility has not been updated -->
              {% if ('yes' in data['report-due']) and ('no' in data['facility-1-updated']) %}
              <strong class="govuk-tag govuk-tag--red">Update required</strong>
              
              <!-- report is due and this facility has been updated -->
              {% elif ('yes' in data['report-due']) and ('yes' in data['facility-1-updated']) %}
              <strong class="govuk-tag govuk-tag--green">Update completed</strong>
              
              <!-- report is not due -->
              {% elif ('no' in data['report-due']) %}
              <strong class="govuk-tag">Update submitted</strong>
              {% endif %}

            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Exporter
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-half">
              {{ data['facility-1-name'] }}
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Bank reference
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['facility-1-ref'] }}
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UKEF facility ID
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['facility-1-ukef-id'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Product
            </dt>
            <dd class="govuk-summary-list__value">
              General export facility
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type
            </dt>
            <dd class="govuk-summary-list__value">
              Contingent facility
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Facility description
            </dt>
            <dd class="govuk-summary-list__value">
              Guarantee
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Facility base currency
            </dt>
            <dd class="govuk-summary-list__value">
              GBP
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cover end date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['facility-1-end-date'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          </dl>

      <h2 class="govuk-heading-l">Value and exposure</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Facility value
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            GBP {{ data['facility-1-limit'] }}
          </dd>
          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKEF cover
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['facility-1-cover'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Maximum UKEF exposure
          </dt>
          <dd class="govuk-summary-list__value">
            GBP {{ data['facility-1-max'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl> 
      </div>


      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ammendments">
        <h2 class="govuk-heading-l">[Content]</h2>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="monthly-reports">
        <h2 class="govuk-heading-l">Utilisation and fees &ndash; {{ data['end-previous-month'] }}</h2>

        <p class="govuk-body $govuk-secondary-text-colour">Updated by {{ data['last-month-name'] }}, {{ data['1-month-ago'] }}</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Facility utilisation
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              GBP {{ data['facility-1-utilisation'] }}
            </dd>
            <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UKEF exposure
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-1-exposure'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fee payable to UKEF
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-1-paid'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fees accrued
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-1-accrued'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        </dl>
      </div>
      
    </div>
    <!-- end of tabs -->
  </div>
</div>

{% endblock %}
